	
.tab-content>.active
{
	background:#222222
}
.tab-content
{
	background:#2B2B2B;
}
#what
{
	background:gray;
}
textarea {
    resize: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
.form-Dl
{
    width: 60%;
    vertical-align: middle;
	margin: 0 auto; 
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #303030;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);

}
.row-centered {
    text-align:center;
}

.form-D3
{
   width: 70%;
   vertical-align: middle;
	margin: 0 auto; 
	padding-bottom:5px;
  background-color: #303030;
  border: 1px solid transparent;
  border-radius: 120px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  

}
.cutep
{
	width:100%;
}
form-D3:before {
 content: "";
position: fixed;
opacity:50%;
}
.full
{
width:100%;
}
.mydod
{
text-align:center;
 width:16%;
}
.imagenmost
{
	width:100px;
	height:100px;
}
#letable
{
	width:80%;	
	vertical-align:middle;	
	text-align:center;
}
#tagtable tr td input 
{
	border-color:black;
	margin-bottom:1px;
	}
.SD
{
    width: 50%;
    vertical-align: :middle;
	margin: 0 auto; 
}
.boxleft
{
  float: left;
}
.boxright
{
 float: right;
}
.onlyme
{
  width:100%;
  max-width:160px;
  height:100%;
  max-height:30px;
  margin:0;
  border-radius:6px;
  background-color: #375a7f;
  border-color: #375a7f;
}
.onlyme:hover{
	background:red;
}
#imagenfea
{
	filter: alpha(opacity=0);
   opacity: 0;
}
#blah{
	cursor:default;
	max-height:500px;
	
}
.protect{
	max-width:100px;
	max-height:300px;
}
.center
{
	text-align: center;
	display: block;
  margin-left: auto;
  margin-right: auto;
}
