.checbocks{
    color: black;
}
.mantenimien{
    color: gold;
}
.negro{
    background-color: #464545;
}
.gris{
    background-color: #375a7f;
}
.celeste{
    background-color: #038bef;
}
.blanco-letra{
	color: white;
}
.azul{
  background-color: #28415bF;
}

#intro
{
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  height: 100%;
}
#intro:before
{
position:fixed;
z-index: -1;
  background: url(http://www.permanenttrust.co.za/wp-content/uploads/2014/08/property-news-img3.jpg) no-repeat;
  background-size: cover;
}
.modalDialog2 {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog2:target {
	opacity:1;
	pointer-events: auto;
}
#lowerme
{
text-transform: lowercase;
}
.modalDialog2 > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #375a7f;;
	background: -moz-linear-gradient(#375a7f;, #999);
	background: -webkit-linear-gradient(#375a7f;, #999);
	background: -o-linear-gradient(#375a7f;, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
.pD1{
    margin: 5%;
    text-align: justify;
}
.pD2{
    margin: 5%;
    text-align: center;
}
.pD3{
    margin: 0;
    text-align: center;
}
.h1-D1{
    margin: 5%;
    text-align: justify;
}
#refrem{

    background-color: white;
    text-align: center;
}
#barrabusqueda{
    background-color: #375a7f;
}
#barrabusqueda2{
	height:15px;
    background-color: #375a7f;
}
#BarraLateral{
    background-color: #303030;
}
#contenido{
    background-color: 6F95BD;
}
#comingtoright
{
	float:right;
}
#comingleft
{
	float:left;
}
.hidme
{
	display:none;
}
