* {

}

html,body,#wrapper {
  height: 100%;
}

html{

}

#main {
  height: 100%;
  z-index: -1;
  transition: transform 0.2s ease;
  background-color
}

#wrapper {
  z-index: -1;
  overflow:inherit;
}



.one:before {

}

.two:before {

}
